body {
	background-image: url(http://vignette3.wikia.nocookie.net/monsterhunter/images/5/54/QuestBG11.png/revision/latest?cb=20101001063815);
}

header {
	background-color: grey;
	padding: 30px 0px;
	height: auto;
	width: 100%;
}

h2 {
	clear: both;
}

.wrap {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.character {
	background-color: white;
	margin: 10px;
	border-style: solid;
	border-color: green;
	border-width: 1px;
	width: auto;
	height: 200px;
	float: left;
}

.render {
	position: absolute;
	left: -50px;
	top: 0px;
	height: 450px;
	width: auto;
}

#space {
	/*background-color: blue;*/
	height: 500px;
	width: auto;
	clear: both;
}

#players,
#enemies,
#defenders {
	background-color: grey;
	margin: 10px 0px;
	padding: 10px 30px;
	height: 250px;	
	overflow : auto;
}

#players {
	float: left;
}

#defenders {
	float: left;
}

#enemies {
	float: left;

#attack {
	float: left;
	clear: both;

}
